<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="PZServerLauncher"
    Manufacturer="Bentheck"
    Version="$(var.InstallerVersion)"
    UpgradeCode="8D175F7D-ACD8-4C1D-8A39-D43D52772DA8"
    Scope="perMachine"
    InstallerVersion="500">

    <SummaryInformation Manufacturer="Bentheck" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of PZServerLauncher is already installed." />
    <Icon Id="AppIcon" SourceFile="..\src\PZServerLauncher.App\Assets\avalonia-logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <util:CloseApplication
      Id="CloseDesktopApp"
      Target="PZServerLauncher.App.exe"
      Description="PZ Server Launcher desktop app"
      CloseMessage="yes"
      ElevatedCloseMessage="yes"
      PromptToContinue="yes" />
    <util:CloseApplication
      Id="CloseHost"
      Target="PZServerLauncher.Host.exe"
      Description="PZ Server Launcher host"
      Property="HOST_WAS_RUNNING"
      CloseMessage="yes"
      ElevatedCloseMessage="yes"
      PromptToContinue="yes" />
    <SetProperty Id="HOST_RESTART_PATH"
                 Before="RestartHostAfterInstall"
                 Sequence="execute"
                 Value="[HOSTFOLDER]PZServerLauncher.Host.exe" />
    <CustomAction Id="RestartHostAfterInstall"
                  Property="HOST_RESTART_PATH"
                  ExeCommand=""
                  Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="RestartHostAfterInstall"
              After="InstallFinalize"
              Condition="HOST_WAS_RUNNING AND NOT REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="PZServerLauncher">
        <Directory Id="APPFOLDER" Name="App" />
        <Directory Id="HOSTFOLDER" Name="Host" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="PZServerLauncher" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="PZServerLauncher" Level="1">
      <ComponentGroupRef Id="DesktopAppFiles" />
      <ComponentGroupRef Id="HostFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="StartMenuShortcutComponent" Guid="*">
        <Shortcut
          Id="DesktopAppShortcut"
          Name="PZ Server Launcher"
          Description="Launch the Project Zomboid server installer, configurator, and launcher."
          Target="[APPFOLDER]PZServerLauncher.App.exe"
          WorkingDirectory="APPFOLDER" />
        <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Bentheck\PZServerLauncher" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
